html {
    margin: 0%;
    padding: 0%;
}

body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    height: 15vh;
    width: 100vw;
    background-color:rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 75vh;
    width: 100vw;
    background-color:rgb(39, 39, 39);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10vh;
    width: 100vw;
    background-color:rgb(53, 53, 53);
    text-align: center;
}